Project/Library/**
Project/Temp/

Project/2D.CSharp.Editor.csproj
Project/2D.CSharp.Plugins.csproj
Project/2D.sln
Project/2D.userprefs
Project/2D.v12.suo
Project/Assembly-CSharp.csproj
Project/Assembly-CSharp-Editor.csproj
Project/Assembly-CSharp-firstpass.csproj
Project/Project.CSharp.csproj
Project/Project.CSharp.Editor.csproj
Project/Project.CSharp.Plugins.csproj
Project/Project.sln
Project/Project.suo
Project/Project.userprefs
Project/Project.v12.suo
Project/2D.CSharp.csproj
